<section id='todos'>
  <header>
    <h2>Editing '<%= @list[:name] %>' List</h2>
    <ul>
      <li>

        <form class="delete"action="<%= list_path(@list)%>/delete" method='post'><button type='submit' class='delete'>Delete List</button></form>
      </li>
    </ul>
  </header>
</section>

<form action=<%= list_path(@list) %> method='post'>
  <dl>
    <dt>
      <label for='list_name'>Edit list name:</label>
    </dt>
    <dd>
      <input name='list_name' placeholder='List Name' type='text' value="<%= params[:list_name] || @list[:name]%>">
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Save'>
    <a href="<%= list_path(@list) %>">Cancel</a>
  </fieldset>
</form>