<% content_for :header_links do %>
  <a href="/lists" title="View all lists" class="list">All Lists</a>
<% end %>

<section id="todos" class="<%= list_class(@list) %>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <% unless all_todos_completed?(@list) %>
        <li>
          <form action="<%= list_path(@list_id) %>/complete_all" method="post">
            <button class="check" type="submit">Complete All</button>
          </form>
        </li>
      <% end %>

      <li>
        <a href="<%= list_path(@list_id) %>/edit" class="edit" title='edit list'></a>
      </li>
    </ul>
  </header>

  <% if @list[:todos].empty? %>
    <section class="no_list">You have nothing to do yet.</section>
  <% else %>
    <ul>
      <% sort_todos(@list) do |todo, index| %>
        <li class="<%= todo_class(todo) %>">
          <form action="<%= list_path(@list_id)%>/todo/<%= index %>" method="post" class="check">
            <input type="hidden" name="completed" value="<%= !todo[:completed]%>"/>
            <button type="submit">Complete</button>
          </form>
          <h3><%= todo[:name] %></h3>
          <form action='<%= list_path(@list_id)%>/todo/<%= index %>/delete' method='post' class="delete">
            <button type='submit'></button>
          </form>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<form action="<%= list_path(@list_id)%>/todos" method='post'>
  <dl>
    <dt>
      <label for='todo'>Enter a new todo item:</label>
    </dt>
    <dd>
      <input name='todo' placeholder='Something todo...' type='text' value="<%= params[:todo] || ''%>">
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Add'>
  </fieldset>
</form>
