<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>

<section id='todos'>
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <a href="/list/<%= params[:id]%>/edit" class="edit"></a>
      </li>
    </ul>
  </header>

  <% if @list[:todos].empty? %>
    <p class="no_list">You have no todos yet.</p>
  <% else %>
    <ul>
      <% @list[:todos].each do |todo| %>
        <li>
            <h2><%= todo %></h2>
        </li>
      <% end %>
    </ul>
    <ul>
      <li>
        <form action="/list/<%= params[:id]%>/new_todo" method='post'>
          <dl>
            <dt>
              <label for='todo'>Enter a new todo item:</label>
            </dt>
            <dd>
              <input name='todo' placeholder='Todo' type='text' value="<%= params[:todo] || ''%>">
            </dd>
          </dl>
          <fieldset class='actions'>
            <input type='submit' value='Save'>
            <a href="/list/<%= params[:id]%>">Cancel</a>
          </fieldset>
        </form>
      </li>
    </ul>
  <% end %>

  
</section>


