<% content_for :header_links do %>
  <a href="/lists" title="View all lists" class="list">All Lists</a>
<% end %>

<% if all_todos_completed?(@list) %>
  <section id="todos" class="complete">
<% else %>
  <section id="todos">
<% end %>
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <% unless all_todos_completed?(@list) %>
        <li>
          <form action="/list/<%= @list_id %>/complete_all" method="post">
            <button class="check" type="submit">Complete All</button>
          </form>
        </li>
      <% end %>

      <li>
        <a href="/list/<%= @list_id %>/edit" class="edit" title='edit list'></a>
      </li>
    </ul>
  </header>

  <% if @list[:todos].empty? %>
    <ul><li><p class="no_list">You have no todos yet.</p></li></ul>
  <% else %>
    <ul>
      <% @list[:todos].each_with_index do |todo, index| %>
        <% if todo[:completed] %>
          <li class="complete">
        <% else %>
          <li>
        <% end %>
            <form action="/list/<%= @list_id%>/todo/<%= index %>" method="post" class="check">
              <input type="hidden" name="completed" value="<%= !todo[:completed]%>"/>
              <button type="submit">Complete</button>
            </form>
            <h3><%= todo[:name] %></h3>
            <form action='/list/<%= @list_id%>/todo/<%= index %>/delete' method='post' class="delete">
              <button type='submit'></button>
            </form>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<form action="/list/<%= @list_id%>/todos" method='post'>
  <dl>
    <dt>
      <label for='todo'>Enter a new todo item:</label>
    </dt>
    <dd>
      <input name='todo' placeholder='Something todo...' type='text' value="<%= params[:todo] || ''%>">
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Add'>
  </fieldset>
</form>
