<% content_for :header_links do %>
  <a href="/lists" title="View all lists">All Lists</a>
<% end %>

<section id='todos'>
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <a href="/list/<%= @list_id %>/edit" class="edit" title='edit list'></a>
      </li>
    </ul>
  </header>

  <% if @list[:todos].empty? %>
    <ul><li><p class="no_list">You have no todos yet.</p></li></ul>
  <% else %>
    <ul>
      <% @list[:todos].each_with_index do |todo, index| %>
        <li>
            <h2><%= todo[:name] %></h2>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>

<form action="/list/<%= @list_id%>/todos" method='post'>
  <dl>
    <dt>
      <label for='todo'>Enter a new todo item:</label>
    </dt>
    <dd>
      <input name='todo' placeholder='Something todo...' type='text' value="<%= params[:todo] || ''%>">
    </dd>
  </dl>
  <fieldset class='actions'>
    <input type='submit' value='Add'>
  </fieldset>
</form>
